body{
    width: 100%;
}


/* ////////////imagenes del carrusel///////////////////// */
.imagen1-header{
    height: 75vh;
    background-image: url("../img/imagen1_header.jpg");
    background-size: cover;
    background-position: center;
}

.imagen2-header{
    height: 75vh;
    background-image: url("../img/imagen2_header.jpg");
    background-size: cover;
    background-position: center;
}

.imagen3-header{
    height: 75vh;
    background-image: url("../img/imagen3_header.jpg");
    background-size: cover;
    background-position: center;
}

/* ////////peso para titulos////// */
h2, h5{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;

}

/* //////////posicionamiento imagen header justo debajo del navbar////////////// */
.contenedor-imagen-header{
    padding-top: 8.9vh;
}

/* //////peso para texto david aravena del navbar////////// */
#titulo-david-aravena{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;

}

#footer-david-aravena{
    color: white;

}

/* ///////////color fondos de los cards de la seccion mis ultimos trabajos////////////////// */
.trabajos-color{
    background-color: #DDEAEA;
}


/* ////tamaño animado de titulos///// */
.escala{
    transform: scale(1);
    animation: mymove 2s infinite;
    animation-direction: normal;
    animation-direction: alternate;
}

#portafolio{
    background-color: rgba(0, 0, 0, .1)
}

@keyframes mymove {
    from {transform: scale(1);}
    to {transform: scale(1.5);}
  }





  @media (max-width: 992px) {
    #portafolio .col-lg-4 {
      padding: 2rem 0;
      margin-left: 13.5rem;
    }

    #formacion .col-lg-4{
        padding: 2rem 0;
    }

    #footer-david-aravena{
        padding: 2rem 0;
    }
}

@media (max-width: 767px){
    #portafolio .col-lg-4 {
        padding: 2rem 0;
        margin-left: 7rem;
      }
}